<!doctype html>
<html lang="ja">

<head>
    <!-- あってもなくても動くけど入れといた方がいいメタタグ -->
    <!-- 文字をutf-8に -->
    <meta charset="utf-8">
    <!-- どのデバイスで見ても見え方を一緒にする = レスポンシブデザイン -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<!-- 文字の表示を真ん中に -->

<body class="text-center">
    <h1>SVOC可視化ツール</h1>
    入力する英文は1文にしてください<br>
    ボタンを押してから画面遷移まで5~30秒ほどかかります<br>
    <br>
    <form method="get" action="nextpage">
        <label>英文： <br><input type="text" name="Sentence" size=70></label>
        <input type="submit" value="解析する">
    </form>
</body>

</html>